.main {
  width: 1200px;
  height: 1200px;
}
.row1 {
  width: 1200px;
  height: 600px;
}
.row1col1 {
  width: 600px;
  height: 600px;
  background-color: pink;
  float: left;
}
.row1col2 {
  width: 600px;
  height: 600px;
  float: left;
}
.ro1col2row1 {
  width: 600px;
  height: 300px;
  background-color: green;
}
.ro1col2row2 {
  width: 600px;
  height: 300px;
  background-color: grey;
}
.row2 {
  width: 1200px;
  height: 600px;
}
.row2col1 {
  width: 600px;
  height: 600px;
  float: left;
}
.row2col1row1 {
  width: 600px;
  height: 300px;
  background-color: green;
}
.row2col1row2 {
  width: 600px;
  height: 300px;
  background-color: red;
}
.row2col2 {
  width: 600px;
  height: 600px;
  background-color: pink;
  float: left;
}
